@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply max-w-[1535px] xl:max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
  }
}

@layer components {
}
@layer utilities {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #971c25;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* NAVBAR */
.nav__link {
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 3px;
  background: #ed8f28;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.nav__link:hover::after {
  opacity: 1;
  bottom: -4px;
}

.nav__hamburger,
.nav__mobilemenu {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav__links,
  .nav__social-links {
    display: none;
  }

  .nav__hamburger,
  .nav__mobilemenu {
    display: block;
  }
}

/* MAIN PAGE */
.background {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.background-franchise {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.background-franchise::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.background-loc {
  position: relative;
}

.background-loc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.background-menu {
  background-image: url("/hero-bg.png");
  background-size: cover;
  background-position: center;
}
.background-location {
  background-image: url("/location-bg.svg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 639px) {
  .background-location {
    background-position: center 43%;
  }
}
@media screen and (min-width: 1200px) {
  .background-location {
    background-position: 0% 58%;
  }
}

.background-footer {
  background-image: url("/footer.svg");
  background-size: cover;
  background-position: center;
}

.custom-h2 {
  line-height: 75px;
}

@media screen and (max-width: 767px) {
  .custom-h2 {
    line-height: 50px;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(151, 28, 37);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* Swiper Custom Styles */
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ed8f28 !important;
}
